/*frame #6 -------------------------------------*/
.partners_frame_6 {
  background-color: white;
  text-align: center;
  padding: 45px 15px; }

.partners_frame_6 img {
  margin: 0px 20px 0px 20px;
  vertical-align: middle; }

/*----------------------------------frame #6 end*/