/*frame #2 -------------------------------------*/

.services_frame_2 {
    background-color: white;
    padding: 45px 15px;
    text-align: center;

}

.services_frame_2 p {
    margin-bottom: 80px;
}

.icon {
    height: 65px;
    width: 65px;
    margin: 0 auto;
    border: 4px solid rgb(254, 209, 54);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.basket {
    background-image: url(../img/frame_2/basket.png);
}

.laptop {
    background-image: url(../img/frame_2/laptop.png);
}

.lock {
    background-image: url(../img/frame_2/lock.png);
}

.cat {
    display: inline-block;
    width: 30%;
    min-width: 240px;
    text-align: center;
}

.cat h3 {
    text-transform: capitalize;
}

.cat p {
    font-size: 0.625rem;
    font-family: RobotoSlabRegular;
    font-style: normal;
    line-height: 20px;
    word-spacing: 5px;
}


/*----------------------------------frame #2 end*/
