/*frame #7 -------------------------------------*/

.contactus_frame_7 {
    background-color: black;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: url("../img/frame_7/background.png");
    text-align: center;
    padding: 45px 15px;
}

.contactus_frame_7 h2 {
    color: white;
}

.contactus_frame_7 p {
    color: white;
}

.contactus_frame_7 button {
    display: block;
    margin: 20px auto;
}

.contactus_frame_7 form {
    margin: 40px auto;
    padding: 0;
}

.col_1 {
    width: 460px;
    height: 260px;
    display: inline-block;
    vertical-align: top;
}

.col_1 input {
    display: block;
    width: 400px;
    height: 55px;
    margin: 5px 0px 30px 0px;
    border-radius: 4px;
    border: 1px solid rgb(241, 241, 241);
    text-transform: uppercase;
    color: rgb(204, 204, 204);
    font-family: MontserratBold;
    font-size: 0.625rem;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.col_1 input:focus {
    color: black;
}

.col_2 {
    width: 460px;
    height: 260px;
    display: inline-block;
    margin: 0px 15px 0px 15px;
    vertical-align: top;
    padding: 5px 0px 0px 0px;
}

.col_2 textarea {
    width: 400px;
    height: 194px;
    border-radius: 10px;
    border: 1px solid rgb(241, 241, 241);
    text-transform: uppercase;
    color: rgb(204, 204, 204);
    font-family: MontserratBold;
    font-size: 0.625rem;
    padding: 20px;
    outline: none;
}

.col_2 textarea:focus {
    color: black;
}


/*----------------------------------frame #7 end*/